html {
    box-sizing: border-box;
    font-size: 100%;
    scroll-behavior: smooth;
    background: transparent;
    overflow-x:  hidden !important;
}

*, *:before, *:after {
    box-sizing: inherit;   
}
a:hover, a{
  text-decoration: none !important;
}

